<a href="https://colab.research.google.com/github/felipeeduardor/SQL-integrado-com-Python-/blob/main/SQL_e_Psycopg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Usando BD e SQL internamente no Python**

# **Instalando um Bancos de Dados**

In [1]:
!sudo apt-get -y install postgresql postgresql-contrib

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  libcommon-sense-perl libjson-perl libjson-xs-perl libtypes-serialiser-perl
  logrotate netbase postgresql-14 postgresql-client-14
  postgresql-client-common postgresql-common ssl-cert sysstat
Suggested packages:
  bsd-mailx | mailx postgresql-doc postgresql-doc-14 isag
The following NEW packages will be installed:
  libcommon-sense-perl libjson-perl libjson-xs-perl libtypes-serialiser-perl
  logrotate netbase postgresql postgresql-14 postgresql-client-14
  postgresql-client-common postgresql-common postgresql-contrib ssl-cert
  sysstat
0 upgraded, 14 newly installed, 0 to remove and 29 not upgraded.
Need to get 18.4 MB of archives.
After this operation, 52.0 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 logrotate amd64 3.19.0-1ubuntu1.1 [54.3 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy/main amd64 netbase all 6.3 [12.9 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcommon-sense-perl amd64 3.75-2build1 [21.1 kB]
Get:4 http://archive.ubuntu.com/ubuntu jammy/main amd64 libjson-perl all 4.04000-1 [81.8 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy/main amd64 libtypes-serialiser-perl all 1.01-1 [11.6 kB]
Get:6 http://archive.ubuntu.com/ubuntu jammy/main amd64 libjson-xs-perl amd64 4.030-1build3 [87.2 kB]
Get:7 http://archive.ubuntu.com/ubuntu jammy/main amd64 postgresql-client-common all 238 [29.6 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 postgresql-client-14 amd64 14.17-0ubuntu0.22.04.1 [1,246 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy/main amd64 ssl-cert all 1.1.2 [17.4 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy/main amd64 postgresql-common all 238 [169 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 postgresql-14 amd64 14.17-0ubuntu0.22.04.1 [16.2 MB]
Get:12 http://archive.ubuntu.com/ubuntu jammy/main amd64 postgresql all 14+238 [3,288 B]
Get:13 http://archive.ubuntu.com/ubuntu jammy/main amd64 postgresql-contrib all 14+238 [3,292 B]
Get:14 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 sysstat amd64 12.5.2-2ubuntu0.2 [487 kB]
Fetched 18.4 MB in 1s (16.9 MB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78, <> line 14.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package logrotate.
(Reading database ... 126209 files and directories currently installed.)
Preparing to unpack .../00-logrotate_3.19.0-1ubuntu1.1_amd64.deb ...
Unpacking logrotate (3.19.0-1ubuntu1.1) ...
Selecting previously unselected package netbase.
Preparing to unpack .../01-netbase_6.3_all.deb ...
Unpacking netbase (6.3) ...
Selecting previously unselected package libcommon-sense-perl:amd64.
Preparing to unpack .../02-libcommon-sense-perl_3.75-2build1_amd64.deb ...
Unpacking libcommon-sense-perl:amd64 (3.75-2build1) ...
Selecting previously unselected package libjson-perl.
Preparing to unpack .../03-libjson-perl_4.04000-1_all.deb ...
Unpacking libjson-perl (4.04000-1) ...
Selecting previously unselected package libtypes-serialiser-perl.
Preparing to unpack .../04-libtypes-serialiser-perl_1.01-1_all.deb ...
Unpacking libtypes-serialiser-perl (1.01-1) ...
Selecting previously unselected package libjson-xs-perl.
Preparing to unpack .../05-libjson-xs-perl_4.030-1build3_amd64.deb ...
Unpacking libjson-xs-perl (4.030-1build3) ...
Selecting previously unselected package postgresql-client-common.
Preparing to unpack .../06-postgresql-client-common_238_all.deb ...
Unpacking postgresql-client-common (238) ...
Selecting previously unselected package postgresql-client-14.
Preparing to unpack .../07-postgresql-client-14_14.17-0ubuntu0.22.04.1_amd64.deb ...
Unpacking postgresql-client-14 (14.17-0ubuntu0.22.04.1) ...
Selecting previously unselected package ssl-cert.
Preparing to unpack .../08-ssl-cert_1.1.2_all.deb ...
Unpacking ssl-cert (1.1.2) ...
Selecting previously unselected package postgresql-common.
Preparing to unpack .../09-postgresql-common_238_all.deb ...
Adding 'diversion of /usr/bin/pg_config to /usr/bin/pg_config.libpq-dev by postgresql-common'
Unpacking postgresql-common (238) ...
Selecting previously unselected package postgresql-14.
Preparing to unpack .../10-postgresql-14_14.17-0ubuntu0.22.04.1_amd64.deb ...
Unpacking postgresql-14 (14.17-0ubuntu0.22.04.1) ...
Selecting previously unselected package postgresql.
Preparing to unpack .../11-postgresql_14+238_all.deb ...
Unpacking postgresql (14+238) ...
Selecting previously unselected package postgresql-contrib.
Preparing to unpack .../12-postgresql-contrib_14+238_all.deb ...
Unpacking postgresql-contrib (14+238) ...
Selecting previously unselected package sysstat.
Preparing to unpack .../13-sysstat_12.5.2-2ubuntu0.2_amd64.deb ...
Unpacking sysstat (12.5.2-2ubuntu0.2) ...
Setting up logrotate (3.19.0-1ubuntu1.1) ...
Created symlink /etc/systemd/system/timers.target.wants/logrotate.timer → /lib/systemd/system/logrotate.timer.
Setting up libcommon-sense-perl:amd64 (3.75-2build1) ...
Setting up ssl-cert (1.1.2) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78.)
debconf: falling back to frontend: Readline
Setting up libtypes-serialiser-perl (1.01-1) ...
Setting up libjson-perl (4.04000-1) ...
Setting up netbase (6.3) ...
Setting up sysstat (12.5.2-2ubuntu0.2) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78.)
debconf: falling back to frontend: Readline

Creating config file /etc/default/sysstat with new version
update-alternatives: using /usr/bin/sar.sysstat to provide /usr/bin/sar (sar) in auto mode
Created symlink /etc/systemd/system/sysstat.service.wants/sysstat-collect.timer → /lib/systemd/system/sysstat-collect.timer.
Created symlink /etc/systemd/system/sysstat.service.wants/sysstat-summary.timer → /lib/systemd/system/sysstat-summary.timer.
Created symlink /etc/systemd/system/multi-user.target.wants/sysstat.service → /lib/systemd/system/sysstat.service.
Setting up postgresql-client-common (238) ...
Setting up libjson-xs-perl (4.030-1build3) ...
Setting up postgresql-client-14 (14.17-0ubuntu0.22.04.1) ...
update-alternatives: using /usr/share/postgresql/14/man/man1/psql.1.gz to provide /usr/share/man/man1/psql.1.gz (psql.1.gz) in auto mode
Setting up postgresql-common (238) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78.)
debconf: falling back to frontend: Readline
Adding user postgres to group ssl-cert

Creating config file /etc/postgresql-common/createcluster.conf with new version
Building PostgreSQL dictionaries from installed myspell/hunspell packages...
Removing obsolete dictionary files:
Created symlink /etc/systemd/system/multi-user.target.wants/postgresql.service → /lib/systemd/system/postgresql.service.
Setting up postgresql-14 (14.17-0ubuntu0.22.04.1) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78.)
debconf: falling back to frontend: Readline
Creating new PostgreSQL cluster 14/main ...
/usr/lib/postgresql/14/bin/initdb -D /var/lib/postgresql/14/main --auth-local peer --auth-host scram-sha-256 --no-instructions
The files belonging to this database system will be owned by user "postgres".
This user must also own the server process.

The database cluster will be initialized with locale "en_US.UTF-8".
The default database encoding has accordingly been set to "UTF8".
The default text search configuration will be set to "english".

Data page checksums are disabled.

fixing permissions on existing directory /var/lib/postgresql/14/main ... ok
creating subdirectories ... ok
selecting dynamic shared memory implementation ... posix
selecting default max_connections ... 100
selecting default shared_buffers ... 128MB
selecting default time zone ... Etc/UTC
creating configuration files ... ok
running bootstrap script ... ok
performing post-bootstrap initialization ... ok
syncing data to disk ... ok
update-alternatives: using /usr/share/postgresql/14/man/man1/postmaster.1.gz to provide /usr/share/man/man1/postmaster.1.gz (postmaster.1.gz) in auto mode
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up postgresql-contrib (14+238) ...
Setting up postgresql (14+238) ...
Processing triggers for man-db (2.10.2-1) ...

# **Verifica se foi instalado corretamente**

In [2]:
!service postgresql status

14/main (port 5432): down

# **caso down, stop e start novamente**

In [3]:
!service postgresql stop

 * Stopping PostgreSQL 14 database server
   ...done.

In [4]:
!service postgresql start

 * Starting PostgreSQL 14 database server
   ...done.

In [5]:
!service postgresql status

14/main (port 5432): online

# **Criação de Usuário e Senha**

In [6]:
# Conectar ao PostgreSQL
!sudo -u postgres psql -c "CREATE USER cdpro WITH PASSWORD 'admincdpro';"

CREATE ROLE

# **Criação do BD**

In [7]:
!sudo -u postgres psql -c "CREATE DATABASE clientes OWNER cdpro;"

CREATE DATABASE

# **Acessando e usando o BD com pacote Psycopg2**

# **Conexão com o BD**

In [8]:
import psycopg2

dbname = 'clientes'
user = 'cdpro'
password = 'admincdpro'
host = 'localhost'

try:
    conn = psycopg2.connect(dbname=dbname, user=user, password=password, host=host)
    print("Conexão bem-sucedida!")
except psycopg2.Error as e:
    print("Erro ao conectar ao banco de dados:", e)

Conexão bem-sucedida!

# **Acessando uma tabela que será gravada no BD**

In [9]:
import pandas as pd

In [12]:
df = pd.read_csv('/content/clientes.csv')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   cod_cliente           614 non-null    object
 1   sexo                  601 non-null    object
 2   estado_civil          611 non-null    object
 3   dependentes           599 non-null    object
 4   educacao              614 non-null    object
 5   empregado             582 non-null    object
 6   renda                 614 non-null    int64
 7   renda_conjuge         614 non-null    object
 8   emprestimo            592 non-null    float64
 9   prestacao_mensal      600 non-null    float64
 10  historico_credito     564 non-null    float64
 11  imovel                614 non-null    object
 12  aprovacao_emprestimo  614 non-null    object
dtypes: float64(3), int64(1), object(9)
memory usage: 62.5+ KB

Salvando a tabela no BD

In [13]:
import psycopg2

# Conectar ao banco de dados
dbname = 'clientes'
user = 'cdpro'
password = 'admincdpro'
host = 'localhost'

try:
    conn = psycopg2.connect(dbname=dbname, user=user, password=password, host=host)
    print("Conexão bem-sucedida!")
except psycopg2.Error as e:
    print("Erro ao conectar ao banco de dados:", e)

# Criar a tabela 'clientes' se ela não existir
try:
    cursor = conn.cursor()
    create_table_query = '''CREATE TABLE IF NOT EXISTS clientes (
                            cod_cliente VARCHAR(100),
                            sexo VARCHAR(100),
                            estado_civil VARCHAR(100),
                            dependentes VARCHAR(100),
                            educacao VARCHAR(100),
                            empregado VARCHAR(100),
                            renda INTEGER,
                            renda_conjuge VARCHAR(100),
                            emprestimo FLOAT,
                            prestacao_mensal FLOAT,
                            historico_credito FLOAT,
                            imovel VARCHAR(100),
                            aprovacao_emprestimo VARCHAR(100)
                            );'''
    cursor.execute(create_table_query)
    conn.commit()
    print("Tabela 'clientes' criada com sucesso!")

except psycopg2.Error as e:
    conn.rollback()  # Desfaz a transação em caso de erro
    print("Erro ao criar tabela:", e)

Conexão bem-sucedida!
Tabela 'clientes' criada com sucesso!

In [15]:
import pandas as pd
from io import StringIO

# Carregar os dados do DataFrame Pandas (supondo que o DataFrame já foi criado)
df = pd.read_csv('/content/clientes.csv')

# Ajustar os tipos de dados no DataFrame antes de carregar no banco de dados
df['renda'] = df['renda'].astype(int)  # Convertendo para tipo inteiro
df['emprestimo'] = df['emprestimo'].astype(float)  # Convertendo para tipo float
df['prestacao_mensal'] = df['prestacao_mensal'].astype(float)  # Convertendo para tipo float
df['historico_credito'] = df['historico_credito'].astype(float)  # Convertendo para tipo float

In [16]:
df

,cod_cliente,sexo,estado_civil,dependentes,educacao,empregado,renda,renda_conjuge,emprestimo,prestacao_mensal,historico_credito,imovel,aprovacao_emprestimo
0,LP001002,Male,No,0,Graduate,No,5849,0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0,133.0,360.0,0.0,Semiurban,N

In [17]:
import psycopg2

# Criar um buffer de memória para os dados do DataFrame
buffer = StringIO()
df.to_csv(buffer, index=False, header=False)  # Não inclui o cabeçalho no arquivo CSV

# Carregar os dados do buffer diretamente para o banco de dados
try:
    cursor = conn.cursor()
    buffer.seek(0)
    cursor.copy_from(buffer, 'clientes', sep=',', columns=df.columns, null='')  # null='' para tratar valores nulos
    conn.commit()
    print("Dados carregados com sucesso!")
except psycopg2.Error as e:
    conn.rollback()  # Desfaz a transação em caso de erro
    print("Erro ao carregar dados:", e)
finally:
    buffer.close()

Dados carregados com sucesso!

# **Usando o Python/Psycopg2**

In [18]:
# Consulta SQL para calcular a soma da renda por educação na tabela 'clientes'
sql_query = """

SELECT

        estado_civil,

        sum(renda) AS renda_total



FROM    clientes


GROUP BY
        estado_civil;

"""

In [19]:
# Função para executar consultas SQL e retornar um DataFrame


def execute_query_to_dataframe(query):

    df = pd.read_sql_query(query, conn)



    return df

In [20]:
# Executar a consulta SQL e exibir o resultado
result_df = execute_query_to_dataframe(sql_query)


print("Resultado da consulta:")



print(result_df)

Resultado da consulta:
  estado_civil  renda_total
0         None        18621
1          Yes      2240411
2           No      1058692

<ipython-input-19-c13185c836cf>:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

In [21]:
result_df

  estado_civil  renda_total
0         None        18621
1          Yes      2240411
2           No      1058692

# **Contagem de Registros da Tabela**

In [22]:
# Consulta SQL para calcular a soma da renda por educação na tabela 'clientes'
sql_query = """
SELECT

count(*) as QTD_REG

FROM clientes

;
"""

In [23]:
# Função para executar consultas SQL e retornar um DataFrame
def execute_query_to_dataframe(query):
    df = pd.read_sql_query(query, conn)
    return df

In [24]:
# Executar a consulta SQL e exibir o resultado
result_df = execute_query_to_dataframe(sql_query)


print("Resultado da consulta:")



print(result_df)

Resultado da consulta:
   qtd_reg
0      614

<ipython-input-23-9c1339bee8f2>:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

In [25]:
result_df

   qtd_reg
0      614

# **Query 3**

In [26]:
# Consulta SQL para calcular a soma da renda por educação na tabela 'clientes'
sql_query = """
SELECT
    estado_civil AS Estado_Civil,
    COUNT(*) AS Total_Clientes,
    AVG(renda) AS Media_Renda,
    MAX(renda) AS Maior_Renda,
    MIN(renda) AS Menor_Renda,
    SUM(CASE WHEN aprovacao_emprestimo = 'Aprovado' THEN 1 ELSE 0 END) AS Total_Aprovados,
    SUM(CASE WHEN aprovacao_emprestimo = 'Reprovado' THEN 1 ELSE 0 END) AS Total_Reprovados
FROM
    clientes
GROUP BY
    estado_civil;


"""

In [27]:
# Função para executar consultas SQL e retornar um DataFrame
def execute_query_to_dataframe(query):
    df = pd.read_sql_query(query, conn)
    return df

In [28]:
# Executar a consulta SQL e exibir o resultado
result_df = execute_query_to_dataframe(sql_query)


print("Resultado da consulta:")



print(result_df)

Resultado da consulta:
  estado_civil  total_clientes  media_renda  maior_renda  menor_renda  \
0         None               3  6207.000000        10047         3816
1           No             213  4970.384977        37719          416
2          Yes             398  5629.173367        81000          150

   total_aprovados  total_reprovados
0                0                 0
1                0                 0
2                0                 0

<ipython-input-27-9c1339bee8f2>:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

In [29]:
result_df

,estado_civil,total_clientes,media_renda,maior_renda,menor_renda,total_aprovados,total_reprovados
0,None,3,6207.000000,10047,3816,0,0
1,No,213,4970.384977,37719,416,0,0
2,Yes,398,5629.173367,81000,150,0,0

# **Download do Banco**

In [30]:
%env PGHOST=localhost       # Postgree Host
%env PGUSER=cdpro           # Pstgree User
%env PGPASSWORD=admincdpro  # ...
%env PGDATABASE=clientes    # ...

env: PGHOST=localhost       # Postgree Host
env: PGUSER=cdpro           # Pstgree User
env: PGPASSWORD=admincdpro  # ...
env: PGDATABASE=clientes    # ...

In [31]:
# -h (host)
# -U (user)
# -d (Database)

!pg_dump -h $PGHOST -U $PGUSER -d $PGDATABASE > backup_clientes.sql

pg_dump: error: too many command-line arguments (first is "#")
Try "pg_dump --help" for more information.

# **FIM**